server {
    listen 80;
    listen [::]:80;
    server_name {{ daoistic_hostname }};
    location / {
        try_files $uri @redirect;
    }
    location /.voip {
        root /var/opt/voip-dir;
    }
    location /.well-known {
        root /var/opt/acme-dir;
    }
    location @redirect {
        return 301 https://{{ daoistic_hostname }}$request_uri;
    }
}
