{
    'ADMINS': (
        ('{{ host_admin_name }}', '{{ host_admin_email }}'),
     ),
    'ALLOWED_HOSTS': (
        '{{ daoistic_hostname }}',
    ),
    'DEBUG': False,
    'FIREWALL_API_PORT': {{ firewall_api_port }},
    'SECRET_KEY': '{{ daoistic_secret_key }}',
    'SERVER_EMAIL': 'noreply@{{ host_hostname }}',
    'TIME_ZONE': '{{ daoistic_timezone }}',
}
